.centerImg{
  text-align: center;
  line-height: inherit;
  font-family: cursive;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: 2;
  color: white;
}
.cut{
  text-decoration: line-through;
}
.contain{
  background-image: url(images/pic4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200%;
  opacity: 0.8;
}
.myspace-marquee{
  height: 35px;
  width: 700px;
  background-color: #2c00f0;
  background-image: url(http://4.bp.blogspot.com/-TYtqLxgexxs/UDcvrQ4abmI/AAAAAAAAC2A/nhBT35U1yYk/s1600/0138-falling-objects-24work.blogspot.com.gif);
  font-family: Cursive;
  font-size: 18pt;
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
  border-width: 2;
  border-style: double;
  border-color: #FF0000;
}
.mqImg{

}
