.centerImg{
  text-align: center;
  line-height: inherit;
}
.cut{
  text-decoration: line-through;
}
body{
  background-image: url(images/pic5.png);
  background-repeat: no-repeat;
  background-size: 100% 194%;
}
