.centerImg{
  text-align: center;
  line-height: inherit;
  font-family: cursive;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: 2;
  color: white;
}
.cut{
  text-decoration: line-through;
}
.contain{
  background-image: url(images/pic4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200%;
  opacity: 0.5;
}
