.centerImg{
  text-align: center;
  line-height: inherit;
}
.cut{
  text-decoration: line-through;
}
.container{
  background-image: url(images/pic6.png);
  background-repeat: no-repeat;
  background-size: 100% 160%;
}
